CONFIG_64BIT=y
CONFIG_ACPI=y
CONFIG_BINFMT_ELF=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_EARLY_PRINTK=y
CONFIG_EXTRA_FIRMWARE=""
CONFIG_KALLSYMS=y
CONFIG_KERNEL_GZIP=y
CONFIG_LD_ORPHAN_WARN=y
# CONFIG_MODULES is not set
CONFIG_PCI=y
CONFIG_PRINTK=y
CONFIG_RANDOMIZE_BASE=y
CONFIG_RELOCATABLE=y
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_TTY=y
